@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: theme("colors.neutral.900");
    color: theme("colors.white");
    font-family: Montserrat, sans;
    overflow-y: auto;
  }
  ::selection {
    background: theme("colors.brand.400");
    color: theme("colors.neutral.800");
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: theme("colors.neutral.700");
  }
  input:autofill {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: theme("colors.white") !important;
    background: theme("colors.neutral.900");
    filter: none;
  }
}

@layer components {
  .f-center {
    @apply flex justify-center items-center;
  }
  .layout {
    @apply grid grid-cols-10 gap-4 py-4;
  }
  .card {
    @apply p-8 rounded-lg drop-shadow-lg border border-neutral-700 bg-neutral-800;
  }
  .button-border {
    @apply w-fit px-4 py-2 rounded-full font-medium border border-neutral-700 bg-neutral-800 hover:border-neutral-600 hover:bg-neutral-700 transition-colors;
  }
  .button-brand {
    @apply w-fit px-4 py-2 rounded-full font-medium text-neutral-900 bg-brand-400 hover:bg-brand-300 transition-colors;
  }
  .button-border-icon {
    @apply flex justify-center gap-x-4 w-fit px-4 py-2 rounded-full font-medium border border-neutral-700 bg-neutral-800 hover:border-neutral-600 hover:bg-neutral-700 transition-colors;
  }
  .text-with-lines {
    @apply w-full flex items-center before:w-1/2 before:h-[1px] before:mr-4 before:bg-neutral-300 after:w-1/2 after:h-[1px] after:ml-4 after:bg-neutral-300;
  }
  .input {
    @apply p-2 rounded-lg border border-neutral-700 bg-neutral-900 outline-none focus:border-brand-400 transition-colors placeholder:text-neutral-500;
  }
}
